*.bak
*.o
*.user.*
*.user
*.suo
*.sln
*.sdf
*.opensdf
ui_qdlg*.h
.qmake.stash
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
libv_repExtDynamicsBullet-2-78.1.0.0.dylib
libv_repExtDynamicsBullet-2-78.1.0.dylib
libv_repExtDynamicsBullet-2-78.1.dylib
libv_repExtDynamicsBullet-2-78.dylib
libv_repExtDynamicsBullet-2-78.so
libv_repExtDynamicsBullet-2-78.so.1
libv_repExtDynamicsBullet-2-78.so.1.0
libv_repExtDynamicsBullet-2-78.so.1.0.0
libv_repExtDynamicsBullet-2-83.1.0.0.dylib
libv_repExtDynamicsBullet-2-83.1.0.dylib
libv_repExtDynamicsBullet-2-83.1.dylib
libv_repExtDynamicsBullet-2-83.dylib
libv_repExtDynamicsBullet-2-83.so
libv_repExtDynamicsBullet-2-83.so.1
libv_repExtDynamicsBullet-2-83.so.1.0
libv_repExtDynamicsBullet-2-83.so.1.0.0
libv_repExtDynamicsOde.1.0.0.dylib
libv_repExtDynamicsOde.1.0.dylib
libv_repExtDynamicsOde.1.dylib
libv_repExtDynamicsOde.dylib
libv_repExtDynamicsOde.so
libv_repExtDynamicsOde.so.1
libv_repExtDynamicsOde.so.1.0
libv_repExtDynamicsOde.so.1.0.0
libv_repExtDynamicsNewton.1.0.0.dylib
libv_repExtDynamicsNewton.1.0.dylib
libv_repExtDynamicsNewton.1.dylib
libv_repExtDynamicsNewton.dylib
libv_repExtDynamicsNewton.so
libv_repExtDynamicsNewton.so.1
libv_repExtDynamicsNewton.so.1.0
libv_repExtDynamicsNewton.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
build-*

